.container1{
    display: flex;
}
.container2{
    display: flex;
}
.container3{
    display: flex;
}
.inner_container1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: coral;
}
.box3 {
    background-color: darkgoldenrod;
}
.box4 {
    background-color: rgb(0, 255, 208);
    width: 50%;
}
.box5 {
    background-color: rgb(0, 255, 0);
}
.box6 {
    background-color: rgb(255, 0, 30);
    height: 50%;
}
.box7 {
    background-color: rgb(207, 0, 254);
    height: 50%;
}
.box8 {
    background-color: rgb(0, 128, 255);
    width: 200%;
}



